*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.audio{
    position: absolute;
    top: 610px;
    left: 35px;
}
.container{
    width: 100%;
    height: 100vh;
    background: #534293;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 100%;
    background: #da8ee7;
    position: absolute;
    top: 0%;
}
.header span{
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    font-style: italic;
    margin-left: 30px;
    color: white;
    
}
.header img{
    position: absolute;
    top: 10%;
    left: 73%;
    height: 60px;

}
.swiper{
    width: 90%;
    height: 40%;
    border: 1px solid white;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.swiper-slide img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.swiper-slide h1{
    color: white;
    width: 50%;
    z-index: 1;
    font-family: 'Amatic SC', cursive;
}
#slide-1 h1{
    position: absolute;
    left: 150px;
    bottom: 230px;
    width: 180px;
    text-align: right;
}
#slide-2 h1{
    position: absolute;
    color: black;
    left: 230px;
    bottom: 200px;
    width: 150px;
}
#slide-3 h1{
    position: absolute;
    color: white;
    right: 210px;
    width: 100px;
}
#slide-4 h1{
    position: absolute;
    color: white;
    right: 200px;
    width: 100px;
    
}
#slide-5 h1{
    position: absolute;
    color: white;
    right: 170px;
    bottom: 200px;
    width: 140px;
}
#slide-6 h1{
    position: absolute;
    color: black;
    left: 230px;
    top: 200px;
    width: 150px;
}
#slide-7 h1{
    position: absolute;
    color: white;
    left: 170px;
    bottom: 220px;
    width: 150px;
    text-align: right;

}
#slide-8 h1{
    position: absolute;
    color: white;
    left: 220px;
    bottom: 190px;
    width: 110px;
    text-align: right;
}
#slide-9 h1{
    position: absolute;
    color: white;
    right: 200px;
    bottom: 80px;
    width: 100px;
}
#slide-10 h1{
    position: absolute;
    color: white;
    right: 210px;
    bottom: 180px;
    width: 100px;
   
}
#slide-11 h1{
    position: absolute;
    color: white;
    left: 230px;
    bottom: 150px;
    width: 100px;
    text-align: right;
}
#slide-12 h1{
    position: absolute;
    color: black;
    bottom: 240px;
    width: 250px;
    text-align: center;
}
#slide-13 h1{
    position: absolute;
    color: white;
    left: 190px;
    bottom: 150px;
    width: 160px;
}
#slide-17 h1{
    position: absolute;
    color: white;
    left: 190px;
    bottom: 200px;
    width: 150px;
}
#slide-21 h1{
    position: absolute;
    color: white;
    right: 210px;
    bottom: 200px;
    width: 100px;
}
#slide-25 h1{
    position: absolute;
    color: black;
    bottom: 220px;
    width: 350px;
    text-align: center;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
}
.swiper .swiper-pagination-bullet-active{
    background: white;
}